@import "mixins/animations";

@import "parts/header";
@import "parts/footer";
@import "parts/code";
@import "parts/image";
@import "parts/table";
@import "parts/tags";
@import "parts/taxonomies";
@import "parts/misc";

@import "theme/light";
@import "theme/dark";

:root {
  /* Fonts */
  --text-font: Menlo, Monaco, "Droid Sans", "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace,
    serif;
  --header-font: var(--text-font);
  --code-font: "Noto Sans Mono";
}

html {
  font-family: var(--text-font);
  line-height: 1.5em;
  font-size: 14px;
}

body {
  background-color: var(--bg-0);
  color: var(--text-0);

  /* Used for: block comment, hr, ... */
  --border-color: var(--bg-1);
}

.content {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
  word-wrap: break-word;
}
